<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"> China Dragon
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap"></li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
      style="padding-left: 5px; padding-right: 5px;">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2 text-center"><h3 style="color: rgb(199, 78, 65);">華 <span style="color: rgb(42, 222, 179);">China Dragon</span> 龍</h3></li>
          <li class="nav-item mb-2"><a class="btn btn-outline-primary btn-block" routerLink="home" routerLinkActive="active">Home</a></li>
          <li class="nav-item mb-2"><a class="btn btn-outline-primary btn-block" routerLink="today-report" routerLinkActive="active">Today Report</a></li>
          <li class="nav-item mb-2"><a class="btn btn-outline-primary btn-block" routerLink="active-order" routerLinkActive="active">Active Orders</a></li>
          <li class="nav-item mb-2"><a class="btn btn-outline-primary btn-block" routerLink="view-comment" routerLinkActive="active">View Comments</a></li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>