<div class="container-fluid" style="padding-top: 1rem;">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of commentList">
          <th scope="row">{{ order.id }}</th>
          <td>{{ order.name }}</td>
          <td>{{ order.email }}</td>
          <td>{{ order.phone }}</td>
          <td><button type="button" class="btn btn-outline-primary" (click)="viewCommentDetail(order.id)">View Comment
              Detail</button></td>
        </tr>
      </tbody>
    </table>
  </div>
