<div class="container-fluid" style="padding-top: 1rem;">
    <div class="row">
      <div class="col-sm">
        <!-- Today Online-Order Total Income -->
        <div class="card h-100">
          <div class="card-header bg-primary text-light">
            Online-Order Info
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <h5>This Month Total:</h5>
              <h5>This Month Order Submitted:</h5>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <!-- Today Order Quantity -->
        <div class="card h-100">
          <div class="card-header bg-primary text-light">
            Online-Order Status Count
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div id="chartContainer" style="height: 250px; width: 100%;"></div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- Order List By Date Table -->
    <div class="row" style="padding-top: 1rem;">
      <div class="col">
        <div class="card">
          <div class="card-header bg-primary text-light">
            Search Order List By Date
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" class="form-inline">
              <div class="form-group mb-2">
                <input type="date"  
                [ngModel]="today | date:'yyyy-MM-dd'"  
                (ngModelChange)="today = $event"    
                name="dt" 
                class="form-control form-control-rounded" #searchDate> 
              </div>     
              <div class="form-group mx-sm-3 mb-2">
                <input type="submit" class="btn btn-primary">
              </div>
            </form>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Order #</th>
                  <th scope="col">Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Status</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orderListByDate">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.orderItem.length }}</td>
                  <td>{{ item.status }}</td>
                  <td>{{ item.total | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  </div>