<div class="container" style="padding-top: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h5>CUSTOMER INFO</h5></div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col">Name:</div>
                    <div class="col text-right">{{ commentDetail.name }}</div>
                </div>
                <div class="row">
                    <div class="col">Phone:</div>
                    <div class="col text-right">{{ commentDetail.phone }}</div>
                </div>
                <div class="row">
                    <div class="col">Email:</div>
                    <div class="col text-right">{{ commentDetail.email }}</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3"><h5>COMMENT DETAIL</h5></div>
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-header">
                      Comment
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p>{{ commentDetail.comments }}</p>
                      </blockquote>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
