<div class="container" style="padding-top: 3rem;">
    <div class="container">
        <h5>ORDER # {{ orderDetail.id }}</h5>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h5>ORDER INFO</h5></div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col">Customer Name:</div>
                    <div class="col text-right">{{ orderDetail.name }}</div>
                </div>
                <div class="row">
                    <div class="col">Customer Phone:</div>
                    <div class="col text-right">{{ orderDetail.phone }}</div>
                </div>
                <div class="row">
                    <div class="col">Submitted Time:</div>
                    <div class="col text-right">{{ orderDetail.time }}</div>
                </div>
                <div class="row">
                    <div class="col">Pick Up Time:</div>
                    <div class="col text-right">{{ orderDetail.pickup }}</div>
                </div>
                <div class="row">
                    <div class="col">Status:</div>
                    <div class="col text-right">{{ orderDetail.status }}</div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h5>ITEM</h5></div>
            <div class="col-sm-9">
                <div *ngFor="let item of orderDetail.orderItem">
                    <div class="row">
                        <div class="col-1">{{ item.quantity }}</div>
                        <div class="col-5">{{ item.name }}
                            <span *ngIf="item.size !== 'None'">({{ item.size }})</span>
                        </div>
                        <div class="col text-right">{{ item.price | currency}}</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">SubTotal:</div>
                    <div class="col text-right">{{ orderDetail.subtotal | currency }}</div>
                </div>
                <div class="row">
                    <div class="col">Tax:</div>
                    <div class="col text-right">{{ orderDetail.tax | currency }}</div>
                </div>
                <div class="row">
                    <div class="col">Total:</div>
                    <div class="col text-right">{{ orderDetail.total | currency }}</div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h5>UPDATE STATUS</h5></div>
            <div class="col-sm-9">
                <div class="row mb-3">
                    <button class="btn btn-primary btn-block" (click)="updateOrder(orderStatus[0])">Picked Up</button>
                </div>
                <div class="row mb-3">
                    <button class="btn btn-danger btn-block" (click)="updateOrder(orderStatus[1])">Cancel Order</button>
                </div>
                <div class="row">
                    <button class="btn btn-dark btn-block" (click)="updateOrder(orderStatus[2])">No Show</button>
                </div>
            </div>
        </div>
    </div>
</div>
